<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome to the Dashboard, {{ username }}</h2>
    <br></br>
    <h2>Streamer Ekle</h2>
    <form action="/add_streamer" method="post">
        <label for="streamer_name">Streamer Adı:</label>
        <input type="text" id="streamer_name" name="streamer_name" required>
        <button type="submit">Ekle</button>

        
        {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% elif success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
    </form>
    <h1>Streamer Listesi</h1>
    <ul>
        {% for streamer in streamers %}
    <li>
        {{ streamer }}
        <form method="post" action="/delete_streamer/{{ streamer }}" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </li>
{% endfor %}
    </ul>
    <form method="post" action="/logout">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
